@font-face {
  font-family: "cabinSketchBold";
  src: url("fonts/cabinsketch-bold-webfont.woff2") format("woff2"),
    url("fonts/cabinsketch-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "cabinSketchRegular";
  src: url("fonts/cabinsketch-regular-webfont.woff2") format("woff2"),
    url("fonts/cabinsketch-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poetsenOneRegular";
  src: url("fonts/poetsenone-regular-webfont.woff2") format("woff2"),
    url("fonts/poetsenone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-header: "CabinSketchRegular";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #0e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header {
  margin-top: 10%;
}

h1,
h2 {
  text-align: center;
  font-family: "cabinSketchRegular", Arial, Helvetica, sans-serif;
  line-height: 3rem;
}

a {
  color: #fff;
}

input:invalid {
  color: red;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 70%;
}

.main-container > * {
  flex-grow: 1;
}

.left-container {
  background-image: url(img/lisanto.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.left-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30%;
  flex: 1 1 auto;
}

.background-mask {
  background-color: rgba(9, 9, 9, 0.575);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  min-width: 10px;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.left-header h1 {
  padding-bottom: 0.5em;
}

.credits p {
  padding: 1em;
}

.right-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-content: center;
}

form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

fieldset {
  border: none;
  padding: 35px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
  background-color: #0c3434;
}

.form-group {
  display: flex;
  align-items: center;
  flex: 1 1 45%;
  min-width: 250px;
}

label {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

input {
  flex: 2;
  padding: 5px;
}

button {
  background-color: #d17a45;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(68, 25, 25, 0.2),
    0 6px 20px 0 rgba(51, 13, 13, 0.19);
}

button:hover {
  background-color: #e68552;
}

.login-link {
  color: #d17a45;
  text-decoration: none;
}

.login-link:hover {
  color: #e68552;
}
